#main-menu 
    display: flex
    flex-direction: column 
    justify-content: center 
    align-content: center
    align-items: center
    justify-items: center
#game_canvas
    overflow: hidden
    display: block 
    height: 100vh